<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dish">
            <h2><span>Dish</span> {{dish.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{dish.price}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{dish.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{dish.description}}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{dish.note}}</span>
                </dd>
                <dt><span>Kitchen</span></dt>
                <dd>
                    <div *ngIf="dish.kitchenId">
                        <a [routerLink]="['/kitchen', dish.kitchenId, 'view']">{{dish.kitchenId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dish', dish.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
