<div>
    <h2 id="page-heading">
        <span>Order Preparations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-preparation" [routerLink]="['/order-preparation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Order Preparation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="orderPreparations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Quantity</span></th>
            <th><span>Date Order</span></th>
            <th><span>Date Delivery</span></th>
            <th><span>Special Instruction</span></th>
            <th><span>Consumer</span></th>
            <th><span>Dish</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderPreparation of orderPreparations ;trackBy: trackId">
                <td><a [routerLink]="['/order-preparation', orderPreparation.id, 'view' ]">{{orderPreparation.id}}</a></td>
                <td>{{orderPreparation.quantity}}</td>
                <td>{{orderPreparation.dateOrder | date:'medium'}}</td>
                <td>{{orderPreparation.dateDelivery | date:'medium'}}</td>
                <td>{{orderPreparation.specialInstruction}}</td>
                <td>
                    <div *ngIf="orderPreparation.consumerId">
                        <a [routerLink]="['../consumer', orderPreparation.consumerId , 'view' ]" >{{orderPreparation.consumerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="orderPreparation.dishId">
                        <a [routerLink]="['../dish', orderPreparation.dishId , 'view' ]" >{{orderPreparation.dishId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/order-preparation', orderPreparation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-preparation', orderPreparation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'order-preparation/'+ orderPreparation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
