<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cooker">
            <h2><span>Cooker</span> {{cooker.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{cooker.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{cooker.lastName}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{cooker.email}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{cooker.phoneNumber}}</span>
                </dd>
                <dt><span>Birthday</span></dt>
                <dd>
                    <span>{{cooker.birthday}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{cooker.address}}</span>
                </dd>
                <dt><span>Cooker</span></dt>
                <dd>
                    <div *ngIf="cooker.cookerId">
                        <a [routerLink]="['/kitchen', cooker.cookerId, 'view']">{{cooker.cookerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cooker', cooker.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
